@model IEnumerable<Reports.Models.Partida>
@{
    ViewBag.Title = "Reporte de operaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte de operaciones</h2>
<h3>@ViewBag.NombreCliente</h3>

<div class="row">
    
    <div class="container">
        @using (Html.BeginForm("Index", "Operaciones", FormMethod.Get, new { }))
        {
            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label for="startDate">Fecha de inicio</label>
                @Html.TextBox("startDate", null, new { type = "date", @class = "form-control" })
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label for="endDate">Fecha fin</label>
                @Html.TextBox("endDate", null, new { type = "date", @class = "form-control" })
            </div>
            if (User.IsInRole("Administrador"))
            {
                <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <label for="clienteId">Cliente</label>
                    @Html.DropDownList("clienteId", (ViewBag.CatalogoClientes as SelectList), null, new {@class="form-control" })
                </div>
            }


            <button type="submit" class="btn btn-primary">Buscar</button>
        }
    </div>
</div>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movimiento)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Patente)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aduana)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ClavePedimento)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaRevalidacionBL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaClasificaion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeEnvioCuentaDeGastos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPrevio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaConclusionPrevio)
        </th>


        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Patente)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Aduana)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Seccion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ClavePedimento)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRevalidacionBL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaClasificaion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeEnvioCuentaDeGastos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPrevio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaConclusionPrevio)
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
    }

</table>
